.container {
  width: 100%;
  position: absolute;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-ttl img {
  width: 20%;
}

.header-nav {
  padding-right: 13vw;
}

.header-nav-list {
  display: flex;
}

.header-nav-list-item {
  padding: 3% 3%;
  text-decoration: none;
}

.header-nav-list-item-link {
  text-decoration: none;
}

.main {
  position: relative;
}

.main-ttl {
  font-family: Gloria Hallelujah;
  font-size: 4vw;
  position: absolute;
  top: 4vw;
  left: 19vw;
  line-height: 5vw;
  color: #c71585;
  font-weight: lighter;
  text-align: left;
}

.title-img {
  width: 100%;
}

.title-img img {
  width: 60%;
  margin: 0 0 0 auto;
  display: block;
}

.main-ttl-color {
  color: #008b8b;
}

.main-text {
  color: #c71585;
  font-size: 1.5vw;
  position: absolute;
  left: 21vw;
  top: 20vw;
}

.main-note {
  color: #696969;
  line-height: 1.5vw;
  position: absolute;
  top: 23vw;
  left: 21vw;
  text-align: left;
}

.news {
  position: absolute;
  width: 100%;
  margin-top: 6%;
}

.news-list {
  width: 60%;
  position: relative;
  left: 6%;
}

.news-text {
  color: #c71585;
  margin-bottom: 1%;
  font-family: Indie Flower;
  position: relative;
  left: 23vw;
  font-size: 150%;
}

.news-ttl {
  margin-bottom: 2%;
  position: relative;
  left: 24vw;
  font-weight: bold;
  color: #696969;
  font-size: 200%;
}

.news-list-date {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 17vw;
  border-bottom: solid 1px #d3d3d3;
  color: #696969;
  margin: 1% 0;
  padding: 1% 0;
}

.news-list-date:first-child {
  border-top: solid 2px #d3d3d3;
  padding: 3% 0;
}

.news-list-date:last-child {
  border-bottom: solid 2px #d3d3d3;
}

.news-list-note {
  border-radius: 30px;
  background: #c71585;
  color: aliceblue;
  padding: 0.5% 2%;
  margin: 0 3%;
}

.layout{
  width: 100%;
  position: absolute;
  padding-top: 10%;
  top: 88vw;
  background-color: #f2f2f2;
}
.layout-group{
  position: relative;
  top: -7vw;
}
.layout-group-text{
  color: #c71585;
  margin-bottom: 1%;
  font-family: Indie Flower;
  position: relative;
  text-align: center;
  font-size: 150%;
}
.layout-group-ttl{
  position: relative;
  color: #696969;
  text-align: center;
  font-weight: bold;
  font-size: 200%;
}
.layout-block{
  position: relative;
  top: -40vw;
}
.layout-text1{
  position: relative;
  color: #696969;
  top: 40vw;
  font-size: 100%;
  left: 10vw;
  line-height: 2vw;
}
.layout-text2 {
  position: relative;
  color: #696969;
  top: 42vw;
  font-size: 100%;
  left: 10vw;
  line-height: 2vw;
}
.layout-img{
  width: 100%;
}
.layout-img img{
  width: 20%;
  position: relative;
  top: 28vw;
  left: 70vw;
}


.service{
  width: 100%;
  position: absolute;
  top: 132vw;
}
.service-ttl{
  position: relative;
  left: 20vw;
  margin-bottom: 1%;
}
.service-ttl-text{
  color: #c71585;
  font-family: Indie Flower;
  position: relative;
  font-size: 150%;
  margin-bottom: 1%;
}
.service-ttl-detail{
  color: #696969;
  font-weight: bold;
  font-size: 200%;
}
.service-image-img1{
  position: relative;
  background: #B31A5E;
  height: 30vw;
  width: 30%;
  color: #fff;
  left: 20vw;
  }
.service-image-img1 img{
  position: relative;
  left: 10vw;
  width: 40%;
  margin-top: 2vw;
}
.service-image-ttl1{
  font-size: 2vw;
  position: relative;
  left: 11vw;
  top: 3vw;
}
.service-image-text1{
  position: relative;
  font-size: 1vw;
  top: 4vw;
  left: 2vw;
  text-align: left;
  line-height: 140%;
}
.service-image-img2 {
  position: relative;
  background: #bb5588;
  height: 15vw;
  width: 30%;
  color: #fff;
  left: 49.8vw;
  top: -30vw;
}
.service-image-img2 img {
  position: relative;
  width: 35%;
  left: 1vw;
  top: 1vw;
}
.service-image-ttl2 {
  font-size: 120%;
  position: relative;
  left: 12vw;
  top: -50%;
}
.service-image-text2 {
  position: relative;
  font-size: 20%;
  top: -6vw;
  left: 12vw;
  text-align: left;
  line-height: 1.5vw;
}
.service-image-img3 {
  position: relative;
  background: #bb99aa;
  height: 15vw;
  width: 30%;
  color: #fff;
  left: 49.8vw;
  top: -30vw;
  }
.service-image-img3 img {
  position: relative;
  width: 35%;
  left: 1vw;
  top: 1vw;
}
.service-image-ttl3{
  font-size: 120%;
  position: relative;
  left: 12vw;
  top: -50%;
}
.service-image-text3{
  position: relative;
  font-size: 20%;
  top: -6vw;
  left: 12vw;
  text-align: left;
  line-height: 1.5vw;
}


.post {
  width: 100%;
  position: absolute;
  top: 175vw;
  background-color: #f2f2f2;
  height: 75%;
  padding: 3%;
}
.post-group{
  position: relative;
  left: 17vw;
}
.post-group-text{
  color: #c71585;
  font-family: Indie Flower;
  position: relative;
  font-size: 150%;
  margin-bottom: 1%;
}
.post-group-ttl{
  color: #696969;
  font-weight: bold;
  font-size: 200%;
  margin-bottom: 1vw;
}
.post-wrapper-card{
  width: 20%;
  height: 23vw;
  background-color: #fff;
  margin: 0 2vw;
  border-radius: 1vw 1vw 1vw 1vw;
}
.post-wrapper-card-img img{
  width: 100%;
  border-radius: 1vw 1vw 0 0;
}
.post-wrapper{
  display: flex;
  justify-content: center;
}
.post-wrapper-card-cat{
  top: -13.34vw;
  display: inline-block;
  padding: 5% 10%;
  background-color: #c71585;
  color: #fff;
  position: relative;
  border-radius: 1vw 0 0 0;
}
.post-wrapper-card-ttl{
  font-size: 1vw;
  color: #696969;
  font-weight: bold;
  text-align: left;
  position: relative;
  top: -1.5vw;
  left: 3vw;
}
.post-wrapper-card-text{
  color: #696969;
  font-size: 1vw;
  display: flex;
  flex-direction: row;
  margin-top: 2vw;
}
.post-wrapper-card-item{
  margin-left: 1vw;
}
.post-wrapper-card-item-last{
  margin-left: 5vw;
}
.post-download{
  position: absolute;
  top: 91%;
  left: 48vw;
  width: 10vw;
  height: 3vw;
  background-color: #fff;
  border: solid 2px #c71585;
  color: #c71585;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100vh
}
.post-download-btn{
  position: relative;
  display: inline-block;
  text-decoration: none;
}


.profile{
  width: 100%;
  position: absolute;
  top: 220vw;
}
.profile-group{
  position: relative;
  left: 25vw;
}
.profile-group-text{
  color: #c71585;
  font-family: Indie Flower;
  font-size: 150%;
  margin-bottom: 1%;
}
.profile-group-ttl{
  color: #696969;
  font-weight: bold;
  font-size: 200%;
  margin-bottom: 1vw;
}
.profile-list{
  font-size: 130%;
  width: 50%;
  position: relative;
  top: 13vw;
  left: 50%;
  transform: translate(-50%, -50%);
}
.profile-list-unit-detail{
  background-color: #f2f2f2;
  text-align: left;
  padding: 1vw 0 1vw 1vw;
  border: 2px solid #e2e2e2;
  color: #6c6c6c;
}
.profile-list-unit-detail2{
  background-color: #fff;
  text-align: left;
  padding: 1vw 0 0 1vw;
  border: 2px solid #e2e2e2;
  color: #6c6c6c;
}


.recruit{
  width: 100%;
  position: absolute;
  top: 260vw;
  display: flex;
  justify-content: center;
}
.recruit-info img{
  width: 100%;
  z-index: 0;
}
.recruit-info-text{
  position: relative;
  top: -50%;
  left: 35%;
  z-index: 10;
  color: #fff;
  font-weight: bold;
  font-size: 200%;
}
.recruit-interview img{
  width: 100%;
}
.recruit-interview-text{
  position: relative;
  z-index: 10;
  color: #fff;
  font-weight: bold;
  font-size: 200%;
  top: -50%;
  left: 33%;
}

.block{
  width: 100%;
  position: absolute;
  top: 285vw;
  left: 38%;
}
.block-text{
  color: #696969;
  font-weight: bold;
  font-size: 200%;
  margin-bottom: 1vw;
}
.block-border::after{
  content: "";
  display: inline-block;
  width: 3px;
  height: 40px;
  background-color: #a52a2a;
  position: absolute;
  left: 12%;
}
.block-btn {
  position: absolute;
  top: 200%;
  left: 7%;
  width: 10vw;
  height: 3vw;
  background: linear-gradient(90deg,#f6378a,#e50b69,#be0957);
  box-shadow: 0 5px 0 #be0957;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100vh
}
.block-btn-submit {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 1vw;
  left: 1vw;
}
.block-btn::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 10%;
  background: url(../img/mailicon.svg) no-repeat;
  background-size: cover;
  width: 1.5vw;
  height: 1.5vw;
  transform: translateY(-50%);
}
.footer{
  width: 100%;
  position: absolute;
  top: 298vw;
  display: flex;
  justify-content: center;
  color: #696969;
}